/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #333;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-brand img {
    max-height: 50px;
    object-fit: contain;
}

/* Sección Hero */
.hero {
    height: 100vh;
    text-align: center;
    position: relative;
}

.hero-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.5);
}
/* Personalizar el menú desplegable */
.dropdown-menu {
    background-color: #222; /* Fondo oscuro */
    border: none; /* Sin borde */
}

/* Personalizar los enlaces del submenú */
.dropdown-item {
    color: #00ffcc; /* Texto color verde agua */
    padding: 10px 15px;
}

.dropdown-item:hover {
    background-color: #444; /* Fondo más oscuro al pasar el mouse */
    color: white;
}

/* Footer */
.footer {
    background: #000;
    color: white;
}


/* Sección del Catálogo de Juegos */
.game-catalog {
    background-color: #f8f9fa; /* Fondo claro */
}

.game-catalog .section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

.game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.game-img {
    width: 100%;
    aspect-ratio: 1 / 1; /* Mantén un cuadrado */
    object-fit: cover;
    border-radius: 8px;
}

.game-title {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    color: #000;
}

.game-rating {
    font-size: 1.2rem;
    color: #f39c12; /* Color para estrellas */
}
